* {
  text-align: center; 
  box-sizing: border-box;

}

body {
    background: wheat;
    font-size: 30px;
    
}
  #headline {
      margin-top: 150px;
      font-size: 120px;
      margin: 50px 5px 5px 5px;
  }
  #headline_2 {
    margin-top: 150px;
    font-size: 150%;
    font-style: bold;
}
#headline_3{ 
    margin-top: 150px;
    font-size: 70px;
    font-weight: bold;
 }   
code {
    font-size: 40px;
    font-weight: bold;
}
#headline_4{
    font-size: 70px;
    font-weight: bold;
    margin-top: 250px;
} 
.steps-headline {
    font-size: 40px;
    font-weight: bold;

}
#headline_5 {
    margin-top: 150px;
    font-size: 70px;
    font-weight: bold;

}
.Tips-headline {
    font-size: 40px;
    font-weight: bold;
}
#tip_3 {
    margin-bottom: 100px;
}
#Bun_Appétit{
    margin-bottom: 350px;
}
#headline_6 {
    margin-top: 350px;
    font-size: 40px;

}
#navbar {
    font-size: large;
    width:15% ;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(180, 27, 27);
    align-items: center;
    
}
.nav-link {
    margin-top:10px;
    font-size: 25px;
    align-self: auto;
}   

#bowl{
    margin-top: 40px;
    width: 100%;
    display: block;
    margin-bottom: 35px;
}
a:link {
    text-decoration: none;
    }
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 850px) {
    #headline_6 {
        font-size: 30px;
        }
}