* {
  text-align: center; 
  box-sizing: border-box;

}

body {
    background: wheat;
    font-size: 30px;
    
}
  #headline {
      font-size: 120px;
      margin: 50px 5px 5px 5px;
  }
  #headline_2 {
    font-size: 150%; font-style: bold;
}
code {
    font-size: 40px;
    font-weight: bold;
}

#ing{ 
    font-size: 70px;
    font-weight: bold;
    font-weight: 

 }   


#navbar {
    font-size: large;
    width:12% ;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(180, 27, 27);
    align-items: center;
    
}
.nav-link {
    margin-bottom:5px;

}     


#bowl{
    margin-top: 50%;
   
    width: 100%;
    display: block;
    margin-bottom: 35px;
}

