* {
  text-align: center; 
  box-sizing: border-box;

}

body {
    background: wheat;
    font-size: 30px;
    
}
  #headline {
      margin-top: 150px;
      font-size: 120px;
      margin: 50px 5px 5px 5px;
  }
  #headline_2 {
    margin-top: 150px;
    font-size: 150%;
    font-style: bold;
}
#headline_3{ 
    margin-top: 150px;
    font-size: 70px;
    font-weight: bold;
 }   
code {
    font-size: 40px;
    font-weight: bold;
}
#headline_4{
    font-size: 70px;
    font-weight: bold;
} 
.steps-headline {
    font-size: 40px;
    font-weight: bold;

}

#headline_5 {
    margin-top: 150px;
    font-size: 70px;
    font-weight: bold;

}
.Tips-headline {
    font-size: 40px;
    font-weight: bold;
}

#headline_6 {
    margin-top: 50px;
    font-size: 40px;

}




#navbar {
    font-size: large;
    width:15% ;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(180, 27, 27);
    align-items: center;
    
}
.nav-link {
    margin-bottom:5px;

}     


#bowl{
    margin-top: 300px;
   
    width: 100%;
    display: block;
    margin-bottom: 35px;
}

